
body {
    background-color: lightgray;
    font-family: sans-serif;
}

header {
    display: flex;
    padding: 10px 0;
}

h1 {
    flex-grow: 1;
}

.wrapper {
    max-width: 700px;
    margin: 0 auto;

}

.feed {
    grid-auto-flow: row;

}

.post {
    background-color: #eadac9;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.post > * {
    padding: 10px;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    grid-column: 1 / span 2;
}

p {
    grid-column: 1 / span 2;
}

.btn {
    box-sizing: border-box;
    border: 1px solid blue;
    background-color: #a8d3e3;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
}